* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
}

body {
  background: rgb(25, 25, 25);
  max-width: 80vw;
}

a {
  color: rgb(240, 89, 65);
  text-decoration: none;
}

ul {
  gap: 1rem;
}

h3::first-letter,
p::first-letter {
  text-transform: capitalize;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
